<body>
<form class="example-form">
<h2>Login Form using Angular</h2>
<label>User Name</label>
<input  placeholder="Enter your name" name="usename"
[(ngModel)] ="employee.username" style="margin-bottom: 10px;">

    <br>
<label>Password</label>
<input  placeholder="Enter your password"  name="password" type="password"   [(ngModel)]= "employee.password">

<br><br>
<button  style="color: green;" (click)="submit()" >Submit</button>
<span *ngIf="show"> <p style="color:green">Login success !!</p></span>
</form></body>